<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <!-- NAME FIELD -->
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="name" formControlName="name">
        </div>
                    <!-- EMAIL FIELD -->
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" name="email" placeholder="Enter email" formControlName="email">
    </div>
                        <!-- PASSWORD -->
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" placeholder="Password" formControlName="password" name="password">
    </div>
                            <!-- CONFIRM PASSWORD -->
    <div class="form-group">
        <label for="ConfirmPassword">Confirm Password</label>
        <input type="password" class="form-control" placeholder="Confirm Password" formControlName="ConfirmPassword" name="ConfirmPassword">
      </div>

    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
